# Python compiled files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files
data/*.csv
data/*.*
data/*/*.*
data/*.pdf

# Notebook artifacts
.ipynb_checkpoints/

# Automatically added large files:
.git/objects/pack/pack-21536d64fefe1151cd997ad7e555732c447cb180.pack
